div.content {
    display: flex;
    max-height: 100vh;
    margin: 0 10px;
    gap: 10px;
}

div.jeu {
    width: 75%;
    height: 100%;
}

div.score {
    width: 25%;
    height: 100%;
    overflow: hidden;
}

/* A RETIRER */
div.jeu, div.score {
    display: flex;
    justify-content: center;
    align-items: center;
}