div.content {
    display: flex;
    height: 100%;
    margin: 0 10px;
    gap: 10px;
}

div.jeu {
    width: 75%;
}

div.score {
    width: 25%;
    overflow: hidden;
}

div.jeu, div.score {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}